@import "typo";
@import "colors";

body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  color: $black;
  font-family: 'Manrope';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .Cart-Container {
    width: 377px;
    height: 488px;
    flex-shrink: 0;
    background-color: $white;
    border-radius: 20px;
    right: -10%;

    .Header {
      margin: auto;
      width: 313px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      gap: 5px;


      .Heading {

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 1.286px;
        text-transform: uppercase;
        color: $black;
      }

      .Action {


        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        font-size: 15px;
        text-decoration-line: underline;
        color: $black;
        mix-blend-mode: normal;
        opacity: 0.5;
        cursor: pointer;
      }
    }

    .Cart-Items {
      margin: auto;
      width: 90%;
      height: 30%;
      z-index: 3;
      display: flex;



      .img {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 8px;
        margin: 10px;
        padding-top: 30px;


      }



      .title {
        color: #000;
        font-size: 15px;
        font-family: Manrope;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 25px;
        padding-bottom: 0;
        padding-top: 30px;

      }

      .price {

        color: #000;
        font-size: 14px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        opacity: 0.5;
        position: relative;
       bottom: -40%;
        left: -10%;
      }
    }

    .container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding-left: 30px;
      padding-top: 40px;
      cursor: pointer;


      .wrapper {
        width: 96px;
        height: 32px;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;



        .minus .plus {
          color: #979797;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 1px;
        }

        .num {
          color: $black;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 900;
          font-size: 13px;
          line-height: 18px;
        }
      }

    }

  }


  .totalContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    bottom: -120%;
    justify-content: space-between;

    .totalSum {
      bottom: -140%;
      // left: -80%;
      // bottom: -120%;
    }

    .total {
      color: $black;
      font-size: 18px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 700;
      position: absolute;
      width: 64px;
      height: 25px;

    }

  }
}

.checkout {
  background-color: $orange;
  color: $white;
  font-family: 'Manrope';
  width: 271px;
  height: 48px;
  border: 1px solid $orange;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  left: 15%;
}