@import url("https://fonts.googleapis.com/css2?family=Alata&family=Manrope:wght@700&display=swap");
h1, h2, p, h3, h4, button {
  font-style: normal;
  font-family: "Manrope";
}

@media screen and (min-width: 250px) {
  .hero {
    background-image: url("../Audiophile/image-header.jpg");
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 600px;
    position: relative;
  }
  .hero header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 30px;
  }
  .hero nav {
    display: none;
  }
  .hero button {
    background-color: transparent;
    border: none;
  }
  .hero button #cart {
    position: relative;
    display: flex;
    right: 10px;
    font-size: 10px;
    color: #FFFFFF;
  }
  .hero .signin {
    position: relative;
    color: #FFFFFF;
    font-family: "Manrope";
    font-size: 15px;
    left: 40%;
  }
  .hero .signin a {
    color: white;
    text-decoration: none;
  }
  .hero .logBtn {
    position: relative;
    font-family: "Manrope";
    color: #FFFFFF;
    font-size: 15px;
    left: 30%;
  }
  .hero .logBtn a {
    color: white;
    text-decoration: none;
  }
  .hero .logBtn .welcomeTxt {
    font-family: "Manrope";
    color: #FFFFFF;
    font-size: 15px;
    left: 30%;
  }
  .hero hr {
    background-color: rgb(29, 28, 28);
  }
  .hero h2 {
    position: absolute;
    height: 19px;
    left: 19.82%;
    right: 19.51%;
    top: 198px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .hero h1 {
    position: absolute;
    height: 80px;
    left: 0%;
    right: 0%;
    top: 233px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .hero p {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 337px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
  }
  .hero .seeProduct {
    background-color: #D87D4A;
    border: 1px solid black;
    height: 48px;
    width: 160px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: calc(50% - 80px);
    top: 83.45%;
    bottom: 0%;
    justify-content: center;
    text-align: center;
    padding: 15px 30px;
  }
  .products {
    position: absolute;
  }
  .products .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-left: 24px;
  }
  .products .articleList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .products img {
    position: relative;
    left: 124px;
    transform: translateY(-60%);
    z-index: 2;
    filter: drop-shadow(0px 10px 10px black);
  }
  .products article {
    height: 165px;
    width: 327px;
    left: 0px;
    top: 52px;
    border-radius: 8px;
    background-color: #F1F1F1;
    display: flex;
  }
  .products article h3 {
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.07143px;
    left: 133px;
  }
  .products article button {
    height: 18px;
    left: 135px;
    top: 177px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .products article .arrow {
    color: #D87D4A;
    font-size: 18px;
  }
  .seeProduct .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }
  .seeProduct .speakers {
    display: block;
    position: absolute;
    height: 600px;
    width: 327px;
    left: 24px;
    top: 1443px;
    border: 1px solid #D87D4A;
    border-radius: 8px;
    background-color: #D87D4A;
    background-image: url("../Audiophile/assets/home/mobile/pattern-circles.svg");
    background-position: top -121px left -116px;
    background-repeat: no-repeat;
    background-size: 558px 558px;
  }
  .seeProduct .speakers img {
    display: flex;
    position: relative;
    height: 207px;
    width: 172px;
    left: 60px;
    bottom: 90px;
  }
  .seeProduct .speakers h3 {
    position: relative;
    height: 80px;
    left: 7.03%;
    right: 7.34%;
    top: 20.33%;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
  }
  .seeProduct .speakers p {
    position: absolute;
    left: 7.03%;
    right: 7.34%;
    top: 66.33%;
    bottom: 21.17%;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
  }
  .seeProduct .speakers button {
    display: flex;
    position: relative;
    width: 160px;
    height: 48px;
    left: 25.38%;
    right: 25.69%;
    top: 65.83%;
    bottom: 9.17%;
    background-color: black;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    justify-content: center;
  }
  .seeProduct .hero {
    background-image: url("../Audiophile/assets/Bitmap.png");
    position: absolute;
    width: 327px;
    height: 320px;
    left: 24px;
    top: 2067px;
  }
  .seeProduct .hero .innerContainer {
    text-align: justify;
    top: 2168px;
  }
  .seeProduct .hero .innerContainer h3 {
    display: left;
    height: 38px;
    left: 0%;
    right: 0.81%;
    top: calc(80% - 10px - 30px);
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    padding-top: 60px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .seeProduct .hero .innerContainer button {
    height: 48px;
    width: 160px;
    left: 0.61%;
    right: 34.62%;
    top: 350px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 0.5px solid black;
    text-transform: uppercase;
  }
  .seeProduct .earphones {
    display: block;
    position: absolute;
    top: 2411px;
    left: 24px;
  }
  .seeProduct .earphones .bkgImg {
    position: relative;
    background-image: url("../Audiophile/assets/earphones.png");
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    width: 327px;
    height: 200px;
  }
  .seeProduct .earphones .prodEarphones {
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    width: 327px;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .seeProduct .earphones .prodEarphones h3 {
    display: left;
    height: 38px;
    left: 0%;
    right: 0.81%;
    top: calc(50% - 2.5px - 30px);
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 60px;
    margin-left: 20px;
  }
  .seeProduct .earphones .prodEarphones button {
    position: absolute;
    height: 48px;
    width: 160px;
    left: 0.61%;
    right: 34.62%;
    top: 350px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 0.5px solid black;
    text-transform: uppercase;
  }
  .bestAudio {
    display: block;
    position: absolute;
    top: 2955px;
    left: 24px;
  }
  .bestAudio .imgBackground {
    background-image: url("../Audiophile/assets/men.png");
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    width: 327px;
    height: 300px;
  }
  .bestAudio .innerContainer {
    display: flex;
    top: 3925px;
  }
  .bestAudio .innerContainer h3 {
    position: absolute;
    height: 76px;
    left: 0%;
    right: 0%;
    top: calc(100% - 38px + 29px);
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
  }
  .bestAudio .innerContainer p {
    position: absolute;
    left: 0%;
    right: 0%;
    top: calc(100% + 55px + 29px);
    bottom: 0%;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: black;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 30px;
  }
  footer {
    position: absolute;
    top: 3773px;
  }
  footer .container {
    background-color: black;
    width: 375px;
    height: 654px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding-top: 52px;
  }
  footer nav ul {
    flex-direction: column;
    list-style: none;
    padding-top: 48px;
    display: inline-block;
    left: 134px;
    align-items: center;
  }
  footer nav ul li {
    text-align: center;
  }
  footer nav ul li a {
    text-align: center;
    justify-content: center;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  footer p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  footer .social {
    margin-top: 15px;
    width: 150px;
    display: flex;
    gap: 15px;
  }
}/*# sourceMappingURL=main.css.map */